*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bs-blue: #0d6efd;
    --bs-red: #f94456;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #0e0f10;
    --bs-sucess: #045304;
}
ul{
 list-style: none;
}
ul li a{
    text-decoration: none;
}